.vscode
BBoT/logs
BBoT/build
BBoT/devel
BBoT/.catkin_tools/*
BBoT/include/darknet/*
BBoT/src/aruco_ros/
BBoT/src/backward_ros/
BBoT/src/ddynamic_reconfigure_python/
BBoT/src/dynamic_introspection/
BBoT/src/gazebo_ros_pkgs/
BBoT/src/head_action/
BBoT/src/hey5_description/
BBoT/src/pal_*
BBoT/src/play_motion/
BBoT/src/pmb2_*
BBoT/src/robot_pose/
BBoT/src/roboticsgroup_gazebo_plugins/
BBoT/src/ros_*
BBoT/src/rviz_plugin_covariance/
BBoT/src/simple_grasping_action/
BBoT/src/tf_lookup/
BBoT/src/tiago_*