<launch>
    <!--<include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch">
        <arg name="world" value="house"/>
        <arg name="public_sim" value="true"/>
        <arg name="robot"  value="steel"/>
    </include>-->
    <include file="$(find look_to_point)/launch/look_to_point.launch" />
    <node pkg="yolo_detection_obj" type="detection_objects.py" name="yolo_detection_node" output="screen"><!--respawn="true"-->
    </node>
</launch>